[class^="flag-"], [class*=" flag-"] {
	padding-left: 47px !important;

	&:before{
		content: " ";
		width: 120px;
		height: 60px;
		position: absolute;
		left: -40px;
		top: -17px;
		transform: scale(0.30);
		background-image: url("flags.png");
		background-repeat: no-repeat;
		background-position: 0 0;	
	}

}

.flag-AF:before{background-position:-0px -0px;}
.flag-AL:before{background-position:-120px -0px;}
.flag-DZ:before{background-position:-240px -0px;}
.flag-AO:before{background-position:-360px -0px;}
.flag-AG:before{background-position:-480px -0px;}
.flag-AR:before{background-position:-600px -0px;}
.flag-AM:before{background-position:-720px -0px;}
.flag-AU:before{background-position:-840px -0px;}
.flag-AT:before{background-position:-960px -0px;}
.flag-AZ:before{background-position:-1080px -0px;}
.flag-BS:before{background-position:-1200px -0px;}
.flag-BH:before{background-position:-1320px -0px;}
.flag-BD:before{background-position:-1440px -0px;}
.flag-BB:before{background-position:-1560px -0px;}
.flag-BY:before{background-position:-1680px -0px;}
.flag-BE:before{background-position:-0px -60px;}
.flag-BZ:before{background-position:-120px -60px;}
.flag-BJ:before{background-position:-240px -60px;}
.flag-BT:before{background-position:-360px -60px;}
.flag-BO:before{background-position:-480px -60px;}
.flag-BA:before{background-position:-600px -60px;}
.flag-BW:before{background-position:-720px -60px;}
.flag-BV:before{background-position:-840px -60px;}
.flag-BR:before{background-position:-960px -60px;}
.flag-BN:before{background-position:-1080px -60px;}
.flag-BG:before{background-position:-1200px -60px;}
.flag-BF:before{background-position:-1320px -60px;}
.flag-MM:before{background-position:-1440px -60px;}
.flag-BI:before{background-position:-1560px -60px;}
.flag-KH:before{background-position:-1680px -60px;}
.flag-CM:before{background-position:-0px -120px;}
.flag-CA:before{background-position:-120px -120px;}
.flag-CV:before{background-position:-240px -120px;}
.flag-CF:before{background-position:-360px -120px;}
.flag-TD:before{background-position:-480px -120px;}
.flag-CL:before{background-position:-600px -120px;}
.flag-CN:before{background-position:-720px -120px;}
.flag-CO:before{background-position:-840px -120px;}
.flag-KM:before{background-position:-960px -120px;}
.flag-CD:before{background-position:-1080px -120px;}
.flag-CG:before{background-position:-1200px -120px;}
.flag-CR:before{background-position:-1320px -120px;}
.flag-CI:before{background-position:-1440px -120px;}
.flag-HR:before{background-position:-1560px -120px;}
.flag-CU:before{background-position:-1680px -120px;}
.flag-CY:before{background-position:-0px -180px;}
.flag-CZ:before{background-position:-120px -180px;}
.flag-DK:before{background-position:-240px -180px;}
.flag-DJ:before{background-position:-360px -180px;}
.flag-DM:before{background-position:-480px -180px;}
.flag-DO:before{background-position:-600px -180px;}
.flag-TL:before{background-position:-720px -180px;}
.flag-EC:before{background-position:-840px -180px;}
.flag-EG:before{background-position:-960px -180px;}
.flag-SV:before{background-position:-1080px -180px;}
.flag-GQ:before{background-position:-1200px -180px;}
.flag-ER:before{background-position:-1320px -180px;}
.flag-EE:before{background-position:-1440px -180px;}
.flag-ET:before{background-position:-1560px -180px;}
.flag-FJ:before{background-position:-1680px -180px;}
.flag-FI:before{background-position:-0px -240px;}
.flag-FR:before{background-position:-120px -240px;}
.flag-GA:before{background-position:-240px -240px;}
.flag-GM:before{background-position:-360px -240px;}
.flag-GE:before{background-position:-480px -240px;}
.flag-DE:before{background-position:-600px -240px;}
.flag-GH:before{background-position:-720px -240px;}
.flag-GR:before{background-position:-840px -240px;}
.flag-GD:before{background-position:-960px -240px;}
.flag-GT:before{background-position:-1080px -240px;}
.flag-GN:before{background-position:-1200px -240px;}
.flag-GW:before{background-position:-1320px -240px;}
.flag-GY:before{background-position:-1440px -240px;}
.flag-HT:before{background-position:-1560px -240px;}
.flag-HN:before{background-position:-1680px -240px;}
.flag-HU:before{background-position:-0px -300px;}
.flag-IS:before{background-position:-120px -300px;}
.flag-IN:before{background-position:-240px -300px;}
.flag-ID:before{background-position:-360px -300px;}
.flag-IR:before{background-position:-480px -300px;}
.flag-IQ:before{background-position:-600px -300px;}
.flag-IE:before{background-position:-720px -300px;}
.flag-IL:before{background-position:-840px -300px;}
.flag-IT:before{background-position:-960px -300px;}
.flag-JM:before{background-position:-1080px -300px;}
.flag-JP:before{background-position:-1200px -300px;}
.flag-JO:before{background-position:-1320px -300px;}
.flag-KZ:before{background-position:-1440px -300px;}
.flag-KE:before{background-position:-1560px -300px;}
.flag-KI:before{background-position:-1680px -300px;}
.flag-XK:before{background-position:-0px -360px;}
.flag-KP:before{background-position:-120px -360px;}
.flag-KR:before{background-position:-240px -360px;}
.flag-KW:before{background-position:-360px -360px;}
.flag-KG:before{background-position:-480px -360px;}
.flag-LA:before{background-position:-600px -360px;}
.flag-LV:before{background-position:-720px -360px;}
.flag-LB:before{background-position:-840px -360px;}
.flag-LS:before{background-position:-960px -360px;}
.flag-LR:before{background-position:-1080px -360px;}
.flag-LY:before{background-position:-1200px -360px;}
.flag-LI:before{background-position:-1320px -360px;}
.flag-LT:before{background-position:-1440px -360px;}
.flag-LU:before{background-position:-1560px -360px;}
.flag-MK:before{background-position:-1680px -360px;}
.flag-MG:before{background-position:-0px -420px;}
.flag-MW:before{background-position:-120px -420px;}
.flag-MY:before{background-position:-240px -420px;}
.flag-MV:before{background-position:-360px -420px;}
.flag-ML:before{background-position:-480px -420px;}
.flag-MT:before{background-position:-600px -420px;}
.flag-MH:before{background-position:-720px -420px;}
.flag-MR:before{background-position:-840px -420px;}
.flag-MU:before{background-position:-960px -420px;}
.flag-MX:before{background-position:-1080px -420px;}
.flag-FM:before{background-position:-1200px -420px;}
.flag-MD:before{background-position:-1320px -420px;}
.flag-MC:before{background-position:-1440px -420px;}
.flag-MN:before{background-position:-1560px -420px;}
.flag-ME:before{background-position:-1680px -420px;}
.flag-MA:before{background-position:-0px -480px;}
.flag-MZ:before{background-position:-120px -480px;}
.flag-NA:before{background-position:-240px -480px;}
.flag-NR:before{background-position:-360px -480px;}
.flag-NP:before{background-position:-480px -480px;}
.flag-NL:before{background-position:-600px -480px;}
.flag-NZ:before{background-position:-720px -480px;}
.flag-NI:before{background-position:-840px -480px;}
.flag-NE:before{background-position:-960px -480px;}
.flag-NG:before{background-position:-1080px -480px;}
.flag-NO:before{background-position:-1200px -480px;}
.flag-OM:before{background-position:-1320px -480px;}
.flag-PK:before{background-position:-1440px -480px;}
.flag-PW:before{background-position:-1560px -480px;}
.flag-PA:before{background-position:-1680px -480px;}
.flag-PG:before{background-position:-0px -540px;}
.flag-PY:before{background-position:-120px -540px;}
.flag-PE:before{background-position:-240px -540px;}
.flag-PH:before{background-position:-360px -540px;}
.flag-PL:before{background-position:-480px -540px;}
.flag-PT:before{background-position:-600px -540px;}
.flag-QA:before{background-position:-720px -540px;}
.flag-RO:before{background-position:-840px -540px;}
.flag-RU:before{background-position:-960px -540px;}
.flag-RW:before{background-position:-1080px -540px;}
.flag-KN:before{background-position:-1200px -540px;}
.flag-LC:before{background-position:-1320px -540px;}
.flag-VC:before{background-position:-1440px -540px;}
.flag-WS:before{background-position:-1560px -540px;}
.flag-SM:before{background-position:-1680px -540px;}
.flag-ST:before{background-position:-0px -600px;}
.flag-SA:before{background-position:-120px -600px;}
.flag-SN:before{background-position:-240px -600px;}
.flag-RS:before{background-position:-360px -600px;}
.flag-SC:before{background-position:-480px -600px;}
.flag-SL:before{background-position:-600px -600px;}
.flag-SG:before{background-position:-720px -600px;}
.flag-SK:before{background-position:-840px -600px;}
.flag-SI:before{background-position:-960px -600px;}
.flag-SB:before{background-position:-1080px -600px;}
.flag-SO:before{background-position:-1200px -600px;}
.flag-ZA:before{background-position:-1320px -600px;}
.flag-ES:before{background-position:-1440px -600px;}
.flag-LK:before{background-position:-1560px -600px;}
.flag-SD:before{background-position:-1680px -600px;}
.flag-SR:before{background-position:-0px -660px;}
.flag-SZ:before{background-position:-120px -660px;}
.flag-SE:before{background-position:-240px -660px;}
.flag-CH:before{background-position:-360px -660px;}
.flag-SY:before{background-position:-480px -660px;}
.flag-TW:before{background-position:-600px -660px;}
.flag-TJ:before{background-position:-720px -660px;}
.flag-TZ:before{background-position:-840px -660px;}
.flag-TH:before{background-position:-960px -660px;}
.flag-TG:before{background-position:-1080px -660px;}
.flag-TO:before{background-position:-1200px -660px;}
.flag-TT:before{background-position:-1320px -660px;}
.flag-TN:before{background-position:-1440px -660px;}
.flag-TR:before{background-position:-1560px -660px;}
.flag-TM:before{background-position:-1680px -660px;}
.flag-TV:before{background-position:-0px -720px;}
.flag-UG:before{background-position:-120px -720px;}
.flag-UA:before{background-position:-240px -720px;}
.flag-AE:before{background-position:-360px -720px;}
.flag-GB:before{background-position:-480px -720px;}
.flag-US:before{background-position:-600px -720px;}
.flag-UY:before{background-position:-720px -720px;}
.flag-UZ:before{background-position:-840px -720px;}
.flag-VU:before{background-position:-960px -720px;}
.flag-VA:before{background-position:-1080px -720px;}
.flag-VE:before{background-position:-1200px -720px;}
.flag-VN:before{background-position:-1320px -720px;}
.flag-YE:before{background-position:-1440px -720px;}
.flag-ZM:before{background-position:-1560px -720px;}
.flag-ZW:before{background-position:-1680px -720px;}